@use '../../styles/config';
@use '../../styles/tools';

.quotes-listing {
  padding: 0 tools.px-to-rem(20px);
  text-align: center;

  @media screen and (min-width: config.$breakpoint-lrg) {
    padding: 0;
  }

  &__quotes {
    padding: tools.px-to-rem(20px) 0;
  }
}
