// colours
$white: #fff;
$lighter-grey: #f5f8f6;
$light-grey: #333;
$black: #000;

$primary: #3fa534;
$primary-dark: #060;

$primary-action: #e11970;
$primary-action-dark: #c80661;

$block-mb: 30px;

$global-font-size: 16px !default;

$breakpoint-md: 768px;
$breakpoint-lrg: 1024px;
