@use '../../styles/config';
@use '../../styles/tools';

.filters__list {
  list-style: none;
  text-align: center;
  margin-bottom: config.$block-mb;

  li {
    display: inline-block;
    padding: 0 tools.px-to-rem(5px);
  }
}
